*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  
}

body{    
    background-color: rgb(12, 12, 212);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container{
    background-color: white;
    width: 600px;
    height: 600px;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    margin-bottom: 50px;
}

.cell{
    background-color: white;
    border: 1px solid rgb(226, 226, 226);
   
}

.cell:hover{
    background-color: rgb(72, 163, 241);
}

#container>.clicked{
    background-color: black;
}

#menu{
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h3{
    color:white;
    align-self: center;
    font-size: 42px;
    margin-bottom: 20px;
    margin-top: 20px;

}
button{
    padding: 8px;
    background-color: gold;
    color:blue;
    border: 1px solid white;
    border-radius: 8px; 
}
.btn{
    width: 400px;
    display: flex;
    justify-content: space-evenly;
}
#colorMenu{
    width: 252px;
    height: 102px;
    background-color: white;
    align-self: center; 
    display: flex;
    flex-flow: row wrap; 
    align-items: stretch;
    border:1px solid white;
}

#main{
    display:flex;
    flex-direction: column;
}

#color{
    width: 50px;
    height: 50px;

}
#colorMenu>.clicked{
    opacity: 0.3;
}

.red{
    background-color: rgb(255, 0, 0);
}
.green{
    background-color: rgb(122, 201, 4);
}
.blue{
    background-color: rgb(0, 0, 255);
}
.yellow{
    background-color: rgb(255, 255, 11);
}
.brown{
    background-color: rgb(128, 42, 42);
}
.black{
    background-color: rgb(0, 0, 0);
}
.white{
    background-color: rgb(255, 255, 255);
}
.cyan{
    background-color: rgb(0, 252, 252);
}
.orange{
    background-color: rgb(255, 166, 0);
}
.pink{
    background-color: rgb(255, 192, 203);
}